<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guest Page</title>
  <link rel="icon" href="/images/binar-logos-text.png" sizes="128x128" type="image/gif/png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/guest.css">
</head>
<body>
  <div class="container-fluid">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(255, 167, 52)">
      
      <a class="navbar-brand" href="/homepage">
        <img src="/images/binar-logos-notext.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        NodeJS
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-dark btnRegister my-2 my-sm-0" type="button">Register</button>
        </form>

      </div>
    </nav>      
    <!-- navbar -->

    <!-- row alert -->
    <div class="alert alert-primary alert-dismissible show my-3" role="alert">
      This is a primary alert—check it out!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>      
    </div>
    <!-- row alert -->

    <!-- start navigation -->
    <div class="wrapper-navigation d-flex my-3">
        <div class="navigation col-md-8 p-0">
          <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-question-circle"></i></span>
              </div>
              <input type="text" class="form-control search mr-2" id="search" name="search" placeholder="Search Product Here.." style="width:25%;">
            </div>            
            <button type="button" name="btnSearch" id="btnSearch" class="btn btn-md btn-outline-success mr-2">
              <i class="fa fa-search"></i>
            </button>              
            <button type="button" name="btnReset" id="btnReset" class="btn btn-md btn-outline-secondary mr-2">
              <i class="fa fa-broom"></i>
            </button>               
            <button type="button" name="btnRefresh" id="btnRefresh" class="btn btn-md btn-outline-info">
              <i class="fa fa-sync"></i>
            </button>
          </form>
        </div>
        <div class="wrapper-pagination col-md-4 justify-content-end p-0">
          <ul class="pagination pagination-list pagination-md m-0 p-0 justify-content-end">
          
            <!-- if else : 1 (dari dashboard), 2 (dari search) -->
          <% if (pages > 0) { %>
            <% if(state == 'dashboard') { %>
                <% if (Number(current) == 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" onclick="fetchTable(1);return false;">First</a></li>
                <% } %>
                <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == 0) { %>
                        <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" onclick="fetchTable('<%= i %>');return false;"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="page-item disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (Number(current) == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item">
                      <a class="page-link" onclick="fetchTable('<%= pages %>');return false;">Last</a>
                    </li>
                <% } %>
            <% } else { %>
                <% if (Number(current) == 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/dashboard-guest/<%= search %>/1">First</a></li>
                <% } %>
                <% let i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == 0) { %>
                        <li class="page-item active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/dashboard-guest/<%= search %>/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="page-item disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (Number(current) == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li class="page-item">
                      <a class="page-link" href="/dashboard-guest/<%= search %>/<%= pages %>">
                        Last
                      </a>
                    </li>
                <% } %>
            <% } %>
          <% } %>                 
          </ul>
        </div>        
    </div>
    <!-- end navigation -->    

    <!-- row table-product -->
    <div class="wrapper-table-product table-responsive my-3" style="height:550px;">
        <table class="table table-bordered table-hover table-light header-fixed mb-0">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="text-center" style="width: 5%;">#</th>
              <th scope="col" class="text-center" style="width: 10%;">Name</th>
              <th scope="col" class="text-center" style="width: 10%;">Price</th>
              <th scope="col" class="text-center">Description</th>
              <th scope="col" class="text-center" style="width: 10%;">Owner</th>
              <th scope="col" class="text-center" style="width: 10%;">Stock</th>
              <th scope="col" class="text-center" style="width: 10%;">Action</th>
            </tr>            
          </thead>
          <tbody class="table-body">
            <% for(let i=0; i < result.length; i++) { %>
            <tr>
               <td scope="col" class="text-center"><%= i+1 %></td>
               <td scope="col" class="text-center"><i><%= result[i].name %></i></td>
               <td scope="col" class="text-center"><%= Number(result[i].price).toLocaleString('id-ID') %></td>
               <td scope="col" class="text-center"><p class="text-justify text-wrap font-italic"><%= result[i].desc %></p></td>
               <td scope="col" class="text-center"><%= result[i].owner %></td>
               <% if(result[i].quantity > 0) { %>
                <td scope="col" class="text-center"><span class="badge badge-pill badge-success">Available</span></td>
               <% } else { %>
                <td scope="col" class="text-center"><span class="badge badge-pill badge-danger">Out of Stock</span></td>                
               <% } %>
               <td scope="col" class="text-center">
                 <button type="button" name="btnDetail" id="btnDetail" class="btn btnDetail btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-action="popup" data-path="<%= result[i].filePath %>" data-price="<%= result[i].price %>" data-name="<%= result[i].name %>" data-whatever="<%= result[i]._id %>"><i class="fa fa-images"></i></button>
               </td>               
            <% } %>
            </tr>
          </tbody>
        </table>      
    </div>
    <!-- row table-product -->
    <!-- row modal hidden --> 
    <div class="wrapper-modal">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Warning!!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>      
    </div>
    <!-- row modal hidden -->     
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
<script type="text/javascript">
/* pagination normal */
async function fetchTable(params) {
  const response = fetch('/fetchTablePage/'+params, {
    method: 'POST',
    headers: { 
      'Content-Type': 'application/json', 
      // 'Owner': JSON.parse(getCookies('user-data')).username,
      // 'Authorization': 'Bearer '+JSON.parse(getCookies('user-data')).token  
    }
  }).then(response => {
    return response.json();
  }).then(result => {
    /* table */
    document.querySelector('.table-body').innerHTML = '';
    for( let i=0; i < result.result.length; i++ ) {
      document.querySelector('.table-body').innerHTML += `
        <tr>
            <td scope="col" class="text-center">${ i+(Number(result.offset)+1) }</td>
            <td scope="col" class="text-center"><i>${ result.result[i].name }</i></td>
            <td scope="col" class="text-center">${ Number(result.result[i].price).toLocaleString('id-ID') }</td>
            <td scope="col" class="text-center"><p class="text-justify text-wrap font-italic">${ result.result[i].desc }</p></td>
            <td scope="col" class="text-center">${ result.result[i].owner }</td>
            ${ result.result[i].quantity > 0 ? `<td scope="col" class="text-center"><span class="badge badge-pill badge-success">Available</span></td>` : `<td scope="col" class="text-center"><span class="badge badge-pill badge-danger">Out of Stock</span></td>` }
            <td scope="col" class="text-center">
              <button type="button" name="btnDetail" id="btnDetail" class="btn btnDetail btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-action="popup" data-path="${ result.result[i].filePath }" data-price="${ result.result[i].price }" data-name="${ result.result[i].name }" data-whatever="${ result.result[i]._id }"><i class="fa fa-images"></i></button>
            </td>
        </tr>   
      `;
    }
  }).catch(error => {
    console.log(error);
  })
}

/* fetch data to table from pagination */
// async function fetchTable(params = 1) {
//   const response = await fetch( `/list-guest-alternative/${ params }`, {
//     method: 'POST', 
//     headers: {
//       'Content-Type': 'application/json',
//       // 'Owner': JSON.parse(getCookies('user-data')).username,
//       // 'Authorization': 'Bearer '+JSON.parse(getCookies('user-data')).token
//     }
//   })
//   // error handling - throw ke catch error
//   if (!response.ok) {
//     const message = `An error has occured: ${response.status} & Text : ${response.statusText}`;
//     throw new Error(message);
//   }
//   const result = await response.json();

//   return result;
// }

// fetchTable().then(result => {
// console.log(result)
// for( let i=0; i < result.result.length; i++ ) {
//   document.querySelector('.table-body').innerHTML += `
//     <tr>
//         <td scope="col" class="text-center">${ i+1 }</td>
//         <td scope="col" class="text-center"><i>${ result.result[i].name }</i></td>
//         <td scope="col" class="text-center">${ Number(result.result[i].price).toLocaleString('id-ID') }</td>
//         <td scope="col" class="text-center"><p class="text-justify text-wrap font-italic">${ result.result[i].desc }</p></td>
//         <td scope="col" class="text-center">${ result.result[i].owner }</td>
//         ${ result.result[i].quantity > 0 ? `<td scope="col" class="text-center"><span class="badge badge-pill badge-success">Available</span></td>` : `<td scope="col" class="text-center"><span class="badge badge-pill badge-danger">Out of Stock</span></td>` }
//         <td scope="col" class="text-center">
//           <button type="button" name="btnDetail" id="btnDetail" class="btn btnDetail btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-action="popup" data-path="${ result.result[i].filePath }" data-price="${ result.result[i].price }" data-name="${ result.result[i].name }" data-whatever="${ result.result[i]._id }"><i class="fa fa-images"></i></button>
//         </td>
//     </tr>   
//   `;
// }
// }).catch(error => {
//   console.log(error);
// })

function setCookie(name,value,days) {
  var expires = "";
  if (days) {
    var date = new Date();
    date.setTime(date.getTime() + (days*24*60*60*1000));
    expires = "; expires=" + date.toUTCString();
  }
  document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}

/* get Cookie */
function getCookies(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
  }
  return null;
}

/* button REGISTER di navbar */
document.querySelector('.btnRegister').addEventListener('click', () => {
  setCookie('user-data', null, Date.now());  
  location.href = '/homepage';
})

/* button RESET di Navigation */
document.querySelector('#btnReset').addEventListener('click', () => {
  document.querySelector('#search').value = '';
})

/* button REFRESH di Navigation */
document.querySelector('#btnRefresh').addEventListener('click', () => {
  location.href = '/dashboard-guest'
})

/* modal */
$('#exampleModal').on('show.bs.modal', function (event) {
  let button = $(event.relatedTarget) // Button that triggered the modal
  let recipient = button.data('whatever') // Extract info from data-* attributes
  
  let name = button.data('name')
  let price = button.data('price')
  let path = button.data('path')
  let action = button.data('action')  
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  let modal = $(this)
  if( action === 'popup' ) {
    /* title */
    modal.find('.modal-title').text('Image for ' + name)  
    /* body */
    // let img_url = `../${ path }`;
    document.querySelector('.modal-body').innerHTML = `
      <img src="../${ path }" alt="image retrieve" width="460" height="300">
      <p class="text-center font-italic mt-1"> Harga : ${ price.toLocaleString('id-ID') } </p>
    `;
    // document.querySelector('.modal-body')
    /* footer */
    document.querySelector('.modal-footer').innerHTML = `
      <button type="button" class="btn btn-secondary" data-dismiss="modal">
        <i class="fa fa-times"></i>
        Dismiss
      </button>
    `;    
  }
})

/* input search then popup result and pagination */
document.querySelector('#btnSearch').addEventListener('click', async (event) => {
  let search = await document.querySelector('#search').value;

  if( search == '' || search == null ) {
    alert('Masukkan Keyword Pencarian');
  } else {
    let url = '/dashboard-guest/outpost/'+document.querySelector('#search').value+'/'+1;
    // let url = '/dashboard-guest/'+document.querySelector('#search').value+'/'+1
    // let url = '/dashboard-guest/'
    const hasil = await fetch(url, {
      method: 'POST',
      // method: "GET",
      headers: {
        'Content-Type': 'application/json',
        // 'Owner': JSON.parse(getCookies('user-data')).username,
        // 'Authorization': 'Bearer '+JSON.parse(getCookies('user-data')).token              
      },
      // body: JSON.stringify({
      //   search: document.querySelector('#search').value,
      //   page: 1
      // })
    })
    .then(response => {
      return response.json();
    })
    .then(result => {
      console.log(result)
      console.log(result.result)
      console.log(result.offset)

      /* pagination-list */
      let pagelist = document.querySelector('.pagination-list');
      pagelist.innerHTML = ''

      if(result.state == 'search') {
        /* pagination */
        if( Number(result.current) == 1 ) {
          pagelist.innerHTML += `<li class="page-item disabled"><a class="page-link">First</a></li>`;
        } else {
          pagelist.innerHTML += `<li class="page-item"><a class="page-link" href="/dashboard-guest/${result.search}/1">First</a></li>`;
        }

        let i = (Number(result.current) > 5 ? Number(result.current) - 4 : 1)
        if( i !== 1 ) {
          pagelist.innerHTML += `<li class="page-item disabled"><a class="page-link">...</a></li>`;
        }

        for( ; i <= (Number(result.current) + 4) && i <= result.pages; i++ ) {
          if( i == 0 ) {
            pagelist.innerHTML += `<li class="page-item active"><a class="page-link">${i}</a></li>`;
          } else {
            pagelist.innerHTML += `<li class="page-item"><a class="page-link" href="/dashboard-guest/${result.search}/${i}">${i}</a></li>`;
          }

          if( i == Number(result.current) + 4 && i < result.pages ) {
            pagelist.innerHTML += `<li class="page-item disabled"><a>...</a></li>`;
          }
        }

        if( Number(result.current) == result.pages ) {
          pagelist.innerHTML += `<li class="page-item disabled"><a class="page-link">Last</a></li>`;
        } else {
          pagelist.innerHTML += `                
            <li class="page-item">
              <a class="page-link" href="/dashboard-guest/${result.search}/${result.pages}">
                Last
              </a>
            </li>
          `;
        }

        /* table body */
        document.querySelector('.table-body').innerHTML = '';
        for( let i=0; i < result.result.length; i++ ) {
          document.querySelector('.table-body').innerHTML += `
            <tr>
              <td scope="col" class="text-center">${ i+(Number(result.offset)+1) }</td>
              <td scope="col" class="text-center"><i>${ result.result[i].name }</i></td>
              <td scope="col" class="text-center">${ Number(result.result[i].price).toLocaleString('id-ID') }</td>
              <td scope="col" class="text-center"><p class="text-justify text-wrap font-italic">${ result.result[i].desc }</p></td>
              <td scope="col" class="text-center">${ result.result[i].owner }</td>
              ${ result.result[i].quantity > 0 ? `<td scope="col" class="text-center"><span class="badge badge-pill badge-success">Available</span></td>` : `<td scope="col" class="text-center"><span class="badge badge-pill badge-danger">Out of Stock</span></td>` }
              <td scope="col" class="text-center">
                <button type="button" name="btnDetail" id="btnDetail" class="btn btnDetail btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-action="popup" data-path="${ result.result[i].filePath }" data-price="${ result.result[i].price }" data-name="${ result.result[i].name }" data-whatever="${ result.result[i]._id }"><i class="fa fa-images"></i></button>
              </td>
            </tr> 
          `;
        }             
      } 
    })
    .catch(error => {
      console.log(error)
    })
  }
})
</script>
</html>